# Python cache files
__pycache__/
*.py[cod]

# Egg info
*.egg-info/

# Mine

# List everything to ignore explicitly
bills_data/
blender/
prompt/
scripts_archive/
pyproject_archive.toml

# Un-ignore scripts
!scripts/